#container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.visual_title{
  font-size: 20pt;
  font-weight: 800;
  margin: 10px 0 20px 0;
  width: 200px;
  padding: 20px;
  border-bottom: 2px black solid;
}

.sidemenu{
  /* border:  1px solid #ccc; */
  padding: 10px;
  width: 290px;
  height: 700px;
  display: inline-block;
  margin: 30px 10px 30px 10px;
  /* float: left; */
}

.sidelist {
  padding: 10px;
  margin: 10px auto;
  /* border: 1px solid blue; */
  /* border-radius: 15px; */
  float: left;
}

.sideitem {
  /* border: red 1px solid; */
  /* border-collapse: collapse; */
  margin: 10px;
  padding: 10px;
}

.sub_wrap {
  width: 1000px;
  height: 1800px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 30px 50px 30px 20px;
  /* border: red 1px solid; */
  /* float: left; */
}
.notice_title {
  text-align: center;
  margin: 80px auto;
}
.sub-group1 {
  width: 100%;
  float: left;
}

.subtitle{
  box-shadow: 5px 5px 2px #b2b2b2;
  background: #257c9e;
  padding: 5px 15px;
  border: 1px solid #056c04;
  border-radius: 15px;
  color: #fff;
  width: auto;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 10pt;
}
.subtitle2 {
  padding-left: 25px;
  background: url('../images/bl_ar08.jpg') 5px 1px no-repeat;
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
}
.sub_comment {
  margin-bottom: 15px;
  line-height: 1.5;
  color: #686868;
  font-size: 0.8em;
  margin-left: 5px;
}
.sub-table-wrap .sub-table {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  line-height: normal;
  border-collapse: collapse;
  word-break: break-all;
}
.sub-table th{
  background:#f5f5f5;
  text-align:center;
  border-right:1px solid #e6e6e6;
  border-bottom:1px solid #0061b1;
  color:#555;
  vertical-align:middle;
  padding-top:10px;
  padding-bottom:10px
}
.sub-table .multi th{
  padding-top:5px;
  padding-bottom:5px
}
.sub-table tbody th{
  border-bottom:1px solid #e6e6e6;
  margin-left:0;
  padding:7px 0;
  line-height:145%
}
.sub-table td{
  border-right:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
  text-align:center;
  padding:7px 5px;
  line-height:145%;
  vertical-align:middle
}
.bdb{border-bottom: solid 1px #d9d9d9 !important;}
.sub-table tbody th {
  border-bottom: 1px solid #e6e6e6;
  margin-left: 0;
  padding: 7px 0;
  line-height: 145%
}
.bdt{border-top: solid 1px #d9d9d9;}